<div class="calendar-container">
  <div class="month-container animated fadeInDown">
    <div class="weekdays">
      <div class="dayname" *ngFor="let dayName of calendar.weekDays">
        {{dayName}}
      </div>
    </div>
    <div class="monthdays">
        <app-day class="day preview animated fadeInDown" (click)="selectDay(day)" [day]="day" [selected]="isSetDay(day)" *ngFor="let day of calendar.month.prevWeek">
        </app-day>
        <app-day class="day animated fadeInDown" (click)="selectDay(day)" [ngClass]="{'current': day.current, 'selected': isSetDay(day)}" [day]="day" [selected]="isSetDay(day)" *ngFor="let day of calendar.month.selectedMonth">
        </app-day>
        <app-day class="day preview animated fadeInDown" (click)="selectDay(day)" [ngClass]="{'current': day.current}" [day]="day" [selected]="isSetDay(day)" *ngFor="let day of calendar.month.nextWeek">
        </app-day>
    </div>
    <div class="month-nav">
      <i class="fa fa-chevron-down big-ico" (click)="getMonth(calendar.setedMonth.id + 1)"></i>
      <i class="fa fa-chevron-up big-ico" (click)="getMonth(calendar.setedMonth.id - 1)" *ngIf="calendar.setedMonth.id > 0"></i>
    </div>
  </div>
  <div class="months-sidebar">
    <div class="selected-month">
      <p class="month-name animated fadeInDown">{{setedDateDisplayer(calendar.setedDay)}}</p>
      <p class="year animated fadeInDown">{{!calendar.setedDay ? today.getFullYear() : ''}}</p>
    </div>
    <div class="months-nav">
      <ul class="months-list animated fadeInRight">
          <li class="month" [ngClass]="{'current': month.current, 'selected': calendar.setedMonth.id === i}" (click)="getMonth(i)" *ngFor="let month of calendar.monthsList; let i = index">{{month.name}}</li>
      </ul>
    </div>
  </div>
</div>
