.calendar-container {
  display: grid;
  grid-template-columns: 72% auto;
  width: 100%;
  margin: 40px 0 0 0;

  .month-container {
    color: #fff;
    margin: 8px 0 0 0;

    .weekdays {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto;
      grid-column-gap: 15px;

      .dayname {
        font-size: 21px;
        line-height: 21px;
        font-weight: 400;
        margin-bottom: 15px;
      }
    }

    .monthdays {
      display: grid;
      grid-template-columns: auto auto auto auto auto auto auto;
      grid-gap: 15px;

      .day {
        position: relative;
        border: solid 2px #fcd7be;
        border-radius: 15px;
        cursor: pointer;
        transition: ease-in-out 0.4s;

        &:hover {
          background: rgba(252, 215, 190, 0.35);
        }

        &.preview {
          border-color: rgba(252, 215, 190, 0.4);
          color: rgba(255, 255, 255, 0.4)
        }

        &.current {
          background: rgba(252, 215, 190, 0.15);
        }

        &.selected {
          background: rgba(252, 215, 190, 0.55);
        }

        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
      }
    }
    .month-nav {
      text-align: center;
      .big-ico {
        font-size: 36px;
        cursor: pointer;
        margin: 12.5px ;
      }
    }
  }

  .months-sidebar {
    margin: 0 auto;
    .selected-month {
      width: 204px;
      margin: 0 0 40px 0;

      .month-name {
        font-size: 38px;
        line-height: 38px;
        color: #fcd7be;
        letter-spacing: 200;
        text-align: center;
        margin: 0;
      }
      .year {
        font-size: 23px;
        font-weight: 200;
        line-height: 23px;
        color: #fcd7be;
        letter-spacing: 250;
        text-align: center;
        margin: 0
      }
    }
    .months-nav {
      .months-list {
        padding: 0;
        margin: 0px;

        .month {
          list-style: none;
          color: #fff;
          font-size: 22px;
          font-weight: 200;
          line-height: 22px;
          border: solid 2px #fcd7be;
          width: 200px;
          text-align: center;
          padding: 10px 0;
          border-radius: 10px;
          margin-bottom: 10px;
          cursor: pointer;
          transition: ease-in-out 0.4s;

          &.current {
            background: rgba(252, 215, 190, 0.15);
          }

          &.selected {
            background: rgba(252, 215, 190, 0.55);
          }
          
          &:hover {
            background: rgba(252, 215, 190, 0.35);
          }
        }
      }
    }
  }
}
