<div>
    <span class="date">{{day.date.getDate()}}</span>          
    <app-events-inidcator *ngIf="isAfterCurrent(day.date)" [events]="day.events" [selected]="selected"></app-events-inidcator>
</div>