.date {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 29px;
    width: 34.81px;
    text-align: center;
    line-height: 38px;
  }

  app-events-inidcator {
    position: absolute;
    right: 10px;
    bottom: 0px;
  }