.sidebar-title {
    color: #642e75;
    font-size: 30px;
    position: relative;
    z-index: 1;
    margin: 15px 0 0 0;

    i {
        color: #b95e68;
        font-size: 48px;
        margin: 0 25px 0 0;
    }
    p {
        display: inline-block;
        font-weight: 500;
    }
}