.amount {
    position: relative;
    color: #fcd7be;
    
    i {
        font-size: 36px;
    }

    span {
        font-size: 16px;
        font-weight: 900;
        letter-spacing: 250;
        position: absolute;
        top: 14px;
        left: 0px;
        width: 31px;
        text-align: center;
        color:#b95e68;
    }

    &.selected {
        color: #b95e68;
        span {
            color: #fcd7be;
            font-weight: 600;
        }
    }
}