.slot {
    margin: 0 0 10px 0;
    
    &.disabled {
        .slot-label {            
            background-color: rgba(208, 114, 80, 0.35);
            color: #fcd7be;
        }
    }

    .hour {
        font-size: 23px;
        padding: 7px 20px;
        margin: 0;
        display: inline-block;        
        border-radius: 10px;
        color: #b95e68;
        border: 3px solid #b95e68;
        transition: ease-in-out 0.4s;
    }

    .slot-label {
        font-size: 34px;
        background-color: #d07250;
        color: #fcd7be;
        height: 51px;
        width: calc(100% - 155px);
        line-height: 51px;
        vertical-align: bottom;
        border-radius: 10px;
        display: inline-block;
        margin: 0 0 0 10px;
        padding: 0 15px;


        
        i {
            float: right;
            padding: 8px 0;
            transition: ease-in-out 0.4s;
        }
    }

    &.active {
    
        &:hover {
            cursor: pointer;
            
            &> .hour {
                background-color: rgba(185, 94, 104, 1);
                color: #fcd7be;
            }

            &> .slot-label i {
                color: #b95e68;
            }
        }
    }
}