<div class="slot animated fadeInRight" [ngClass]="{'disabled': !isActive(status), 'active': isActive(status)}">
    <p class="hour">{{hour}}</p><p class="slot-label"><span>{{slotLabel}}</span><i *ngIf="isActive(status)" class="fa fa-chevron-right"></i></p>
</div>
