app-nav {
    margin: 0 0 0 -40px;
    padding: 30px 48px ;
}

app-sidebar {
    background: #fcd7be;
    border-radius: 0 45px 45px 0;
    margin: 0 -40px 0 0;
    position: relative;
    padding: 0 0 0 50px;

    &::after {
        content: "";
        background: #fcd7be;
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        left: -20px;
        top: 40px;
        transform: rotate(45deg);
    }
}