html{
    height: 100%;

    body {
        margin: 28px 42px 0;
        height: calc(100% - 56px);
        background-image: url('/assets/bg.png');
        background-size: cover;
        position: relative;
        font-family: 'Nunito';

        .container {            
            width: calc(100% - 80px);
            height: 100%;
            border-radius: 45px;
            padding: 0 40px;
            background-image: linear-gradient(-107deg, #51227b, #d07250);
            box-shadow: 2px 1px 29.259999999999998px 8.74px rgba(0, 0, 0, 0.35);

                app-root {
                display: grid;
                grid-template-columns: 5% 70% 25%;
                height: 100%;
                }
        }
    }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
