.nav-footer {
    .navigator {
        color: #b95e68;
        display: inline-block;
        line-height: 16px;
        cursor: pointer;
        
        &.right {
            float: right;
            i {
                margin: 0 0 0 10px;
            }
        }

        &.left {
            i {
                margin: 0 10px 0 0;
            }
        }

        span {
            vertical-align: top;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}