<app-event-slot  *ngFor="let event of calendar.setedDay.events" [timeStart]="event.timeStart" [status]="event.status" [slotLabels]="labels" ></app-event-slot>
<div class="nav-footer">
    <p class="navigator left" *ngIf="isAfterCurrent(calendar.setedDay.date)" (click)="prevDay(calendar.setedDay)"><i class="fa fa-chevron-left"></i><span>yesterday</span></p>
    <p class="navigator right" (click)="nextDay(calendar.setedDay)"><span>tomorrow</span><i class="fa fa-chevron-right"></i></p>
</div>